<div class='modal' id='confirm-modal'>
  <div class='content'>
    <div class='row'>
      <div class='centered text-center'>
        <h4>Are you sure?</h4>

        <br />

        <div class='medium default btn'>
          <a href='#'>Delete</a>
        </div>
        <div class='medium warning default btn'>
          <a href='#' class='switch' gumby-trigger='|#confirm-modal'>Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>