########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
.sass-cache
/.sass-cache

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_Store
.netbeans
.sass-cache
nbproject
.idea


########################
# local config
########################

public
