#game-play
	width: 1022px
	height: 669px
	background: transparent url("#{$images}/bg-main-game.png") no-repeat
	margin: auto
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0

	.game-wrapper
		margin: 30px

		#game-canvas
			width: 960px
			height: 600px
			background: #333

	.clouds
		background: transparent url("#{$images}/clouds.png") no-repeat
		width: 135px
		height: 73px
		position: absolute
		bottom: 15px
		right: 0
		z-index: 100