#preloader
  img
    -webkit-transform: translate3d(0, 0, 0)

    position: absolute
    margin: auto
    top: 0
    left: 0
    right: 0
    bottom: 0


#qr-code
  position: absolute
  top: 305px
  left: 556px
  width: 100px
  height: 100px


#submit-score
  position: absolute
  top: 276px
  left: 186px
  font-size: 17px

  input
    width: 213px
    font-size: 17px

  select
    margin-left: 64px
    border: 1px solid #a4a4a4
    background: white
    font-family: arial
    font-size: 17px

  .submit-btn
    margin-top: 57px
    cursor: pointer

  ul
    li
      display: inline


#game-play
  width: 1022px
  height: 708px
  background: transparent url("#{$images}/frame-bg-main-game.png") no-repeat
  position: relative
  overflow: hidden
  margin: 50px auto 30px

  position: absolute
  margin: auto
  top: 0
  left: 0
  right: 0
  bottom: 0

  visibility: hidden

  .game-wrapper
    margin: 30px

    #game-canvas
      width: 960px
      height: 600px
      background: #238aaa

  .clouds
    background: transparent url("#{$images}/frame-clouds.png") no-repeat
    width: 135px
    height: 73px
    position: absolute
    bottom: 15px
    right: 0
    z-index: 100