
<ul>
	<li>
		<input class='name' placeholder='Name' />
	</li>
	<li>
		<select class='organization'>
			{{#each organizations}}
				<option value='{{Id}}'>{{Name}}</option>
			{{/each}}
		</select>
	</li>
</ul>

<div class='btns'>
	<div class='submit-btn'>
		<img src='/assets/images/submit-btn.png' />
	</div>

	<div class='skip-btn'>
		<img src='/assets/images/skip-btn.png' />
	</div>
</div>