
<ul>
	<li>
		<input placeholder='Name' />
	</li>
	<li>
		<select>
			{{#each orgs}}
				<option value='{{Id}}'>{{Name}}</option>
			{{/each}}
		</select>
	</li>
</ul>

<div class='submit-btn'>
	<img src='/assets/images/submit-btn.png' />
</div>