
<ul>
	<li>
		<input placeholder='Name' />
	</li>
	<li>
		<select>
			<option value='a'>Hey</option>
			<option value='b'>Hi!</option>
			<option value='c'>Uh</option>
			<option value='d'>Uhhh</option>
			<option value='e'>Oh no</option>
		</select>
	</li>
</ul>

<div class='submit-btn'>
	<img src='/assets/images/submit-btn.png' />
</div>