
// Base Layout Styles
// ---------------------------------------+
//

html
	height: 100%

body
	color: #fff
	font-family: $font-primary
	overflow: hidden
	height: 100%
	width: 100%
	background: $body-bg-color
	min-width: 1050px
	+bg-gradient-radial($body-bg-color, lighten($body-bg-color, 35%), 85%)


img
	pointer-events: none


.status
	font-size: 10px
	position: absolute
	top: 0
	left: 0
	background: black
	z-index: 100


#container-content
	color: #fff

#game-play

	.view
		position: absolute
		top: 20px
		left: 50px

#main-footer
	.holiday-text
		width: 351px
		height: 28px
		margin: 10px auto
		background: transparent url("#{$images}/frame-holiday-text.png") no-repeat


