
// Wordfly Holiday Game SASS configuration
// ---------------------------------------+
//

// LAYOUT VARS


// PATHS
$assets: "/assets"
$images: "#{$assets}/images"
$videos: "#{$assets}/videos"
$webfonts: "#{$assets}/webfonts"

// COLORS
$body-bg-color: #11799a


// VENDORS
$vendors: webkit ms moz o spec


// FONTS
$font-primary: Arial, sans-serif
$font-secondary: Arial, sans-serif