@font-face {
  font-family: 'LuckiestGuy';
  src: url('/assets/webfonts/LuckiestGuy.eot');
 }

@font-face {
  font-family: 'LuckiestGuy';
  src: url('/assets/webfonts/LuckiestGuy.woff') format('woff'),
  url('/assets/webfonts/LuckiestGuy.svg#LuckiestGuy-Regular') format('svg');
 }